# CodeIgniter Subfolder .Htaccess
# today hints by www.insanen.com
Options +FollowSymLinks

RewriteEngine On
# TODO : Please do-not forget to change RewriteBase /[app name]
RewriteBase /work-ci

RewriteRule ^$ index.php [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(index\.php|robots\.txt|favicon\.ico)
RewriteRule 	^(.*)$ index.php?/$1 [L]